@charset "UTF-8";
*,
after,
before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 0;
  list-style: none;
  box-sizing: border-box;
  vertical-align: top;
  font-family: Texturina-Italic, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1242px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: black;
}

.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 80px;
  padding: 0 15px;
  z-index: 15;
  background: black;
}

.header_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid white;
  margin-bottom: 100px;
}

.header_logo {
  display: flex;
  flex: 1 1 33.333%;
  cursor: pointer;
}

.header_nav {
  display: flex;
  flex: 1 1 33.333%;
  justify-content: center;
}

.header_menu {
  display: flex;
}
.header_menu li {
  margin: 0 25px;
}
.header_menu li a {
  font-size: 15px;
  color: white;
}

.header_login {
  display: flex;
  flex: 1 1 33.333%;
  justify-content: flex-end;
}
.header_login a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  border: 2px solid white;
  cursor: pointer;
  transition: all linear 0.2s;
}
.header_login a:hover {
  background: #4452FE;
  border: 1px solid #4452FE;
  box-shadow: 0 0 10px #4452FE;
}
.header_login a span {
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.header_burger {
  display: none;
}

.header_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}
.header_main h1 {
  font-size: 48px;
  color: white;
  width: 45%;
  text-align: center;
  margin-bottom: 25px;
}
.header_main p {
  font-size: 18px;
  width: 40%;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

.header_buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.header_buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
  color: white;
  width: 140px;
  height: 50px;
  border: 1px solid white;
  transition: all linear 0.2s;
}
.header_buttons a:hover {
  background: #4452FE;
  border: 1px solid #4452FE;
  box-shadow: 0 0 10px #4452FE;
}
.header_buttons a span {
  font-size: 18px;
}

.header_screens img {
  max-width: 100%;
}

.features {
  background: #181818;
}

.features_wrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 50px 0;
}

.h1_features {
  display: block;
  margin: 0 auto 25px auto;
  width: 40%;
  text-align: center;
}
.h1_features h1 {
  font-size: 32px;
  color: #FFFFFFFF;
}

.p_features {
  display: block;
  margin: 0 auto 50px auto;
  width: 40%;
  text-align: center;
}
.p_features p {
  font-size: 20px;
  color: white;
}

.features_block {
  display: flex;
  margin-bottom: 100px;
}

.screen_block {
  position: relative;
  flex: 1 1 50%;
}
.screen_block img {
  width: 750px;
  max-width: 100%;
}
.screen_block .chart {
  position: absolute;
  width: 400px;
  max-width: 100%;
  right: 0;
  bottom: 0;
}

.info_block {
  flex: 1 1 50px;
}

.block_main {
  margin: 50px 0;
}
.block_main p {
  font-size: 18px;
  color: white;
  font-weight: normal;
}

.h_main {
  display: flex;
  margin-bottom: 25px;
}
.h_main span {
  margin-left: 15px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.logo_main img {
  width: 30px;
  height: 30px;
  max-width: 100%;
}

.content, .partners, .footer {
  background: #181818;
}

.content_wrap {
  padding-bottom: 50px;
}

.p_content, .h_content {
  display: block;
  margin: 0 auto 25px auto;
  width: 40%;
  text-align: center;
}
.p_content p, .h_content p {
  font-size: 20px;
  color: white;
  font-weight: normal;
}
.p_content span, .h_content span {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.block_cards {
  display: flex;
}

.card {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  width: 480px;
  max-width: 100%;
  background: white;
  margin: 0 50px;
  border-radius: 20px;
}

.h_card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}
.h_card span {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.p_card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}
.p_card span {
  width: 60%;
  font-size: 18px;
  color: black;
  text-align: center;
}

.button_card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.btn_card {
  width: 150px;
  height: 50px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all linear 0.2s;
}
.btn_card:hover {
  background: #4452FE;
  border: 1px solid #4452FE;
  box-shadow: 0 0 10px #4452FE;
}
.btn_card:hover span {
  color: white;
}
.btn_card span {
  font-size: 18px;
  color: black;
}

.img_card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.img_card img {
  width: 100%;
  max-width: 400px;
  max-height: 225px;
  height: 100%;
  padding: 0 10px;
}

.slider {
  background: #181818;
}

.slider_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider_wrap_tittle {
  display: flex;
  justify-content: center;
}
.slider_wrap_tittle span {
  font-size: 32px;
  color: white;
  font-weight: bold;
}

.slider_container {
  display: flex;
  margin: 30px 0;
}

.slider_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 150px;
  background: white;
}

.slider_title {
  font-size: 24px;
  color: #181818;
  margin: 25px 0;
}

.slider_description {
  font-size: 18px;
  color: #181818;
  margin: 15px 0;
}

.partners {
  padding-bottom: 50px;
}

.partners_wrap {
  display: flex;
  flex-direction: column;
}

.tittle_partners, .description_partners {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tittle_partners span, .description_partners span {
  font-size: 32px;
  color: white;
  font-weight: bold;
}

.description_partners {
  margin: 25px 0;
  justify-content: center;
}
.description_partners span {
  font-size: 24px;
  color: white;
  font-weight: normal;
  text-align: center;
  width: 60%;
}

.logo_partners ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 0;
}
.logo_partners ul li {
  margin: 0 15px;
}

.footer {
  padding-bottom: 15px;
}

.footer_wrap {
  display: flex;
  height: 100%;
  max-height: 60px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.home {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 50px;
}
.home a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home a span {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 785px) {
  * {
    transition: all linear 0.2s;
  }

  .header_nav {
    position: absolute;
    background: black;
    height: 250px;
    width: 100%;
    right: -120%;
    top: 100%;
  }

  .header_active {
    display: flex;
    width: 100%;
    top: 100%;
    right: 0;
    border: 1px solid white;
  }

  .header_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .header_menu li {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
    margin: 5px 0;
  }

  .header_wrap {
    position: relative;
  }

  .header_burger {
    display: flex;
  }

  .header_login {
    margin-right: 15px;
  }

  .menu_btn {
    display: flex;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
  }
  .menu_btn span {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 3px;
    background-color: white;
  }
  .menu_btn span:after {
    content: "";
    transform: translateY(10px);
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
  }
  .menu_btn span:before {
    content: "";
    transform: translateY(-10px);
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
  }

  .menu_btn_active span {
    height: 0;
    transition: all ease 0.1s;
  }
  .menu_btn_active span:after {
    top: 0;
    transform: rotate(35deg);
    transition: all ease 0.2s;
  }
  .menu_btn_active span:before {
    top: 0;
    transform: rotate(-35deg);
    transition: all ease 0.2s;
  }

  .header_main h1 {
    width: 70%;
    font-size: 48px;
  }
  .header_main p {
    width: 70%;
  }

  .features_block {
    margin-bottom: 15px;
  }

  .p_features {
    width: 80%;
  }

  .screen_block {
    margin-bottom: 50px;
  }
  .screen_block .chart {
    position: center;
  }

  .features_block {
    flex-direction: column;
  }

  .block_main {
    width: 80%;
    display: block;
    margin: 25px auto;
    text-align: center;
  }

  .h_main {
    justify-content: center;
    align-items: center;
  }

  .p_content {
    width: 80%;
  }

  .block_cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 25px;
  }

  .description_partners span {
    width: 100%;
  }

  .logo_partners ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
  }
  .logo_partners ul li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 465px) {
  .header_login a {
    width: 100px;
  }
}
@media screen and (max-width: 425px) {
  .header_login {
    display: none;
  }

  .header_main h1 {
    font-size: 32px;
  }
  .header_main p {
    font-size: 18px;
  }

  .header_buttons {
    flex-direction: column;
    align-items: center;
  }
  .header_buttons a {
    margin: 10px 0;
  }

  .p_content {
    width: 100%;
  }

  .logo_partners ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}
@font-face {
  font-family: "Texturina-Italic";
  src: url("../fonts/Texturina-Italic-VariableFont_opsz,wght.eot");
  src: local("☺"), url("../fonts/Texturina-Italic-VariableFont_opsz,wght.woff") format("woff"), url("../fonts/Texturina-Italic-VariableFont_opsz,wght.ttf") format("truetype"), url("../fonts/Texturina-Italic-VariableFont_opsz,wght.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Texturina-Bold";
  src: url("../fonts/Texturina-VariableFont_opsz,wght.eot");
  src: local("☺"), url("../fonts/Texturina-VariableFont_opsz,wght.woff") format("woff"), url("../fonts/Texturina-VariableFont_opsz,wght.ttf") format("truetype"), url("../fonts/Texturina-VariableFont_opsz,wght.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=main.css.map */
