*,
after,
before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 0;
  list-style: none;
  box-sizing: border-box;
  vertical-align: top;
}

.container {
  width: 100%;
  max-width: 1242px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: black;
}

.header_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  border-bottom: 1px solid white;
  margin-bottom: 100px;
}

.header_logo {
  display: flex;
  flex: 1 1 33.333%;
  cursor: pointer;
}

.header_nav {
  display: flex;
  flex: 1 1 33.333%;
  justify-content: center;
}

.header_menu {
  display: flex;
}
.header_menu li {
  margin: 0 25px;
}
.header_menu li a {
  font-size: 20px;
  color: white;
}

.header_login {
  display: flex;
  flex: 1 1 33.333%;
  justify-content: flex-end;
}
.header_login a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  border: 2px solid white;
  cursor: pointer;
  transition: all linear 0.2s;
}
.header_login a:hover {
  background: #4452FE;
  border: 1px solid #4452FE;
  box-shadow: 0 0 10px #4452FE;
}
.header_login a span {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.header_burger {
  display: none;
}

.header_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_main h1 {
  font-size: 64px;
  color: white;
  width: 45%;
  text-align: center;
  margin-bottom: 25px;
}
.header_main p {
  font-size: 18px;
  width: 40%;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

.header_buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.header_buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
  color: white;
  width: 140px;
  height: 50px;
  border: 1px solid white;
  transition: all linear 0.2s;
}
.header_buttons a:hover {
  background: #4452FE;
  border: 1px solid #4452FE;
  box-shadow: 0 0 10px #4452FE;
}
.header_buttons a span {
  font-size: 18px;
}

@media screen and (max-width: 785px) {
  .header_nav {
    display: none;
    position: absolute;
    right: -100%;
    bottom: -130%;
    background: black;
    top: 15px;
    width: 250px;
    height: 250px;
  }

  .header_active {
    display: flex;
    right: -10px;
    border: 1px solid white;
    box-shadow: 0 0 10px white;
  }

  .header_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header_menu li {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
    margin: 0;
  }

  .header_wrap {
    position: relative;
  }

  .header_burger {
    display: flex;
  }

  .header_login {
    margin-right: 15px;
  }

  .menu_btn {
    display: flex;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
  }
  .menu_btn span {
    position: absolute;
    height: 5px;
    width: 75%;
    background-color: white;
    top: 50%;
    right: 0;
  }
  .menu_btn span:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 50%;
    right: 0;
    background-color: white;
    transform: translateY(10px);
  }
  .menu_btn span:before {
    content: "";
    position: absolute;
    height: 5px;
    width: 50px;
    background-color: white;
    transform: translateY(-10px);
    right: 0;
  }

  .menu_btn_active span {
    height: 0;
  }
  .menu_btn_active span:after {
    width: 100%;
    transform: rotate(35deg);
  }
  .menu_btn_active span:before {
    width: 100%;
    transform: rotate(-35deg);
  }

  .header_main h1 {
    width: 70%;
    font-size: 48px;
  }
  .header_main p {
    width: 70%;
  }
}
@media screen and (max-width: 425px) {
  .header_login {
    display: none;
  }

  .header_main h1 {
    font-size: 32px;
  }
  .header_main p {
    font-size: 18px;
  }

  .header_buttons {
    flex-direction: column;
    align-items: center;
  }
  .header_buttons a {
    margin: 10px 0;
  }
}

/*# sourceMappingURL=main.css.map */
